<footer class="w-100  flex-shrink-0">
    <div class="container py-4">
        <div class="row gy-4 gx-5">
            <div class="col-lg-3 col-md-6">
                <h5 class="h1 text-white">About</h5>
                <p class="small text-muted">The Industrial Applications society,as a transnational organization.Strives
                    to advance the theory and
                    practice of electrical and electronics engineering.</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-3">Useful Links</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="#about">About Us</a></li>
                    <li><a routerLink="/execom22">Execom</a></li>
                    <li><a routerLink="/events/2022">Events</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-3">IEEE Links</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="https://www.ieee.org/" target="_blank"><span>IEEE</span></a></li>
                    <li><a href="https://www.ieeemadras.org/" target="_blank"><span>IEEE Madras Section</span></a></li>
                    <li><a href="https://www.ieee.org/sitemap.html" target="_blank"><span>Sitemap</span></a></li>
                    <li><a href="https://www.ieee.org/security-privacy.html" target="_blank"><span>Privacy
                                Policy</span></a></li>
                    <li><a href="https://www.ieee.org/about/corporate/governance/p9-26.html"
                            target="_blank"><span>Nondiscrimination Policy</span></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-3">Contact Us</h5>
                <div class="list-unstyled text-muted">
                    <div class="fa">
                        <span class="fa fa-map-marker">
                            <a href="https://goo.gl/maps/oKWrwxfDKYMKJvca8" target="_blank">OMR, Chennai</a>
                        </span>
                    </div>

                    <br>
                    <span class="fa fa-phone contact-text phone">
                        <a href="tel:+91 97898 40294" title="Give me a call">+91 97898 40294</a>
                    </span>
                    <span class="fa fa-envelope contact-text gmail">
                        <a href="mailto:contactus@ieeesjcesbc.org"
                            title="Send me an email">contactus@ieeesjcesbc.org</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="social-media-list">
                <a href="https://www.linkedin.com/company/ieeesjcesbc" target="_blank">
                    <li>
                        <a class="contact-icon">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                </a>
                <a href="https://www.facebook.com/StJosephs-College-of-Engineering-IEEE-Student-Branch-Chapter-108743565033214/"
                    target="_blank" class="contact-icon">
                    <li>
                        <a class="contact-icon">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                </a>
                <a href="https://twitter.com/SjceC" target="_blank" class="contact-icon">
                    <li>
                        <a class="contact-icon">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                </a>
                <a href="https://www.instagram.com/ieeesjcesb/" target="_blank" class="contact-icon">
                    <li>
                        <a class="contact-icon">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                </a>
                <a href="https://www.youtube.com/c/IEEESJCESB" target="_blank" class="contact-icon">
                    <li>
                        <a class="contact-icon">
                            <i class="fa fa-youtube" aria-hidden="true"></i>
                        </a>
                    </li>

                </a>
            </ul>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); color: white;">
        © 2022 Copyright: <a href="https://ieeesjcesbc.org/"> IEEE SJCE SBC</a>
    </div>

</footer>