<app-execom></app-execom>
<div className="ias">
    <div class="nine">
      <h1>INDUSTRIAL APPLICATION SOCIETY OFFICE BEARERS<span>Execom 2017</span></h1>
    </div>
    <table>
      <tr>
        <th>NAME OF STUDENT</th>
        <th>POST ASSIGNED</th>
      </tr>
      <tr>
        <td>MOHAMED SHEIK SHAHUL HAMEED A</td>
        <td>CHAIRMAN</td>
      </tr>
      <tr>
        <td>PRABANCHAN R</td>
        <td>VICE-CHAIRMAN</td>
      </tr>
      <tr>
        <td>JAYASURIYA T J</td>
        <td>SECRETARY</td>
      </tr>
      <tr>
        <td>JEEVITHAA G</td>
        <td>TREASURER</td>
      </tr>
      <tr>
        <td>JOEL JOY</td>
        <td>JOINT SECRETARY</td>
      </tr>
    </table>
    </div>