<app-execom></app-execom>
<div className="ias">
    <div class="nine">
      <h1>INDUSTRIAL APPLICATION SOCIETY OFFICE BEARERS<span>Execom 2015</span></h1>
    </div>
    <table>
      <tr>
        <th>NAME OF STUDENT</th>
        <th>POST ASSIGNED</th>
      </tr>
      <tr>
        <td>VENKATASUBRAMANIAN S</td>
        <td>CHAIRMAN</td>
      </tr>
      <tr>
        <td>VINOD A</td>
        <td>VICE-CHAIRMAN</td>
      </tr>
      <tr>
        <td>KATHIRAVAN R</td>
        <td>SECRETARY</td>
      </tr>
      <tr>
        <td>SANTHOSH M R</td>
        <td>TREASURER</td>
      </tr>
      <tr>
        <td>DHAYALAN K</td>
        <td>JOINT SECRETARY</td>
      </tr>
    </table>
    </div>