<div class="row background">
    <div class="cont">

        <h1>Login using Email </h1>
        <h6>*Only for webmaster*</h6>
        <div class="pb-5">
            <div class="card-text">
                <form [formGroup]="login" (ngSubmit)="onsubmit()">
                    <div class="form-group">
                        <input type="email" class="input" placeholder="Enter email" name="email" formControlName="email">
                    </div>
                    <div class="alert alert-danger" *ngIf="!login.controls['email'].valid && login.controls['email'].touched" >
                        A valid Email is required.
                    </div>
                    <div class="form-group">
                        <input type="password" class="input" placeholder="Enter password" name="email" formControlName="pass">
                    </div>
                    <div class="alert alert-danger" *ngIf="!login.controls['pass'].valid && login.controls['pass'].touched" >
                        A valid password is required.
                    </div>
                    <div class="text-center">
                        <button type="submit" class="button" [disabled]="login.invalid">Submit</button>
                    </div>
                    <div class="alert alert-danger" *ngIf="error">
                        <h5>{{error.message}}</h5>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>