<app-execom></app-execom>
<div className="ias">
    <div class="nine">
      <h1>INDUSTRIAL APPLICATION SOCIETY OFFICE BEARERS<span>Execom 2016</span></h1>
    </div>
    <table>
      <tr>
        <th>NAME OF STUDENT</th>
        <th>POST ASSIGNED</th>
      </tr>
      <tr>
        <td>IRENE ELIZA THOMAS</td>
        <td>CHAIRMAN</td>
      </tr>
      <tr>
        <td>KOMAHAN K</td>
        <td>VICE-CHAIRMAN</td>
      </tr>
      <tr>
        <td>RACHEN R</td>
        <td>SECRETARY</td>
      </tr>
      <tr>
        <td>ASHWATHI A M</td>
        <td>TREASURER</td>
      </tr>
      <tr>
        <td>SWETHA P</td>
        <td>JOINT SECRETARY</td>
      </tr>
    </table>
    </div>