<app-execom></app-execom>
<div class="body">
    <div class="ias">
        <div class="nine">
            <h1>Industrial Applications Society Office Bearers<span>Execom 2022</span></h1>
        </div>
        <div class="box row">
            <div class="excomCard col-sm-4">
                <div class="rot">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="-50 0 500 500">
                        <title>Visit Site Link</title>
                        <defs>
                            <path
                                d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250"
                                id="textcircle">
                                <animateTransform attributeName="transform" begin="0s" dur="30s" type="rotate"
                                    from="0 250 250" to="360 250 250" repeatCount="indefinite" />
                            </path>
                        </defs>
                        <use xlinkHref="#redstripe" transform="rotate(90 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(45 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(-45 250 250)" />
                        <text dy="60" textLength="1220">
                            <textPath xlink:href="#textcircle">EXECOM 2022 * EXECOM 2022 *</textPath>
                        </text>
                    </svg>
                </div>
                <div class="imgBx">
                    <img src="../../../assets/execom/2022/1.jpg" alt="images">
                </div>
                <div class="detail">
                    <h2>Dr.Jayarama Pradeep
                    </h2>
                </div>
                <div class="details">
                    <h2>Dr.Jayarama Pradeep
                        <span>ADVISOR
                        </span>
                    </h2>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-envelope"></a>
                </div>
            </div>
            <div class="excomCard col-sm-4">
                <div class="rot">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="-50 0 500 500">
                        <title>Visit Site Link</title>
                        <defs>
                            <path
                                d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250"
                                id="textcircle">
                                <animateTransform attributeName="transform" begin="0s" dur="30s" type="rotate"
                                    from="0 250 250" to="360 250 250" repeatCount="indefinite" />
                            </path>
                        </defs>
                        <use xlinkHref="#redstripe" transform="rotate(90 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(45 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(-45 250 250)" />
                        <text dy="60" textLength="1220">
                            <textPath xlink:href="#textcircle">EXECOM 2022 * EXECOM 2022 *</textPath>
                        </text>
                    </svg>
                </div>
                <div class="imgBx">
                    <img src="../../../assets/execom/2022/2.jpg" alt="images">
                </div>
                <div class="detail">
                    <h2>Denora S
                    </h2>
                </div>
                <div class="details">
                    <h2>Denora S
                        <span>CHAIR PERSON
                        </span>
                    </h2>
                    <a href="https://www.linkedin.com/in/denora-s-521198209" class="fa fa-linkedin"></a>
                    <a href="mailto:denora01@ieee.org" class="fa fa-envelope"></a>
                </div>
            </div>
            <div class="excomCard col-sm-4">
                <div class="rot">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="-50 0 500 500">
                        <title>Visit Site Link</title>
                        <defs>
                            <path
                                d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250"
                                id="textcircle">
                                <animateTransform attributeName="transform" begin="0s" dur="30s" type="rotate"
                                    from="0 250 250" to="360 250 250" repeatCount="indefinite" />
                            </path>
                        </defs>
                        <use xlinkHref="#redstripe" transform="rotate(90 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(45 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(-45 250 250)" />
                        <text dy="60" textLength="1220">
                            <textPath xlink:href="#textcircle">EXECOM 2022 * EXECOM 2022 *</textPath>
                        </text>
                    </svg>
                </div>
                <div class="imgBx">
                    <img src="../../../assets/execom/2022/3.jpg" alt="images">
                </div>
                <div class="detail">
                    <h2>Kavipriya D
                    </h2>
                </div>
                <div class="details">
                    <h2>Kavipriya D
                        <span>VICE CHAIR
                        </span>
                    </h2>
                    <a href="https://www.linkedin.com/in/kavipriya-d-ab6089222" class="fa fa-linkedin"></a>
                    <a href="mailto:kavipriyadeva1972@gmail.com" class="fa fa-envelope"></a>
                </div>
            </div>
        </div>
        <div class="box row">
            <div class="excomCard col-sm-4">
                <div class="rot">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="-50 0 500 500">
                        <title>Visit Site Link</title>
                        <defs>
                            <path
                                d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250"
                                id="textcircle">
                                <animateTransform attributeName="transform" begin="0s" dur="30s" type="rotate"
                                    from="0 250 250" to="360 250 250" repeatCount="indefinite" />
                            </path>
                        </defs>
                        <use xlinkHref="#redstripe" transform="rotate(90 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(45 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(-45 250 250)" />
                        <text dy="60" textLength="1220">
                            <textPath xlink:href="#textcircle">EXECOM 2022 * EXECOM 2022 *</textPath>
                        </text>
                    </svg>
                </div>
                <div class="imgBx">
                    <img src="../../../assets/execom/2022/4.jpg" alt="images">
                </div>
                <div class="detail">
                    <h2>Ananya P K
                    </h2>
                </div>
                <div class="details">
                    <h2>Ananya P K
                        <span>SECRETARY
                        </span>
                    </h2>
                    <a href="https://www.linkedin.com/in/ananya-p-k-2b294810a" class="fa fa-linkedin"></a>
                    <a href="mailto:ananya1152@ieee.org" class="fa fa-envelope"></a>
                </div>
            </div>
            <div class="excomCard col-sm-4">
                <div class="rot">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="-50 0 500 500">
                        <title>Visit Site Link</title>
                        <defs>
                            <path
                                d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250"
                                id="textcircle">
                                <animateTransform attributeName="transform" begin="0s" dur="30s" type="rotate"
                                    from="0 250 250" to="360 250 250" repeatCount="indefinite" />
                            </path>
                        </defs>
                        <use xlinkHref="#redstripe" transform="rotate(90 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(45 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(-45 250 250)" />
                        <text dy="60" textLength="1220">
                            <textPath xlink:href="#textcircle">EXECOM 2022 * EXECOM 2022 *</textPath>
                        </text>
                    </svg>
                </div>
                <div class="imgBx">
                    <img src="../../../assets/execom/2022/5.jpg" alt="images">
                </div>
                <div class="detail">
                    <h2>Karthikeyan S
                    </h2>
                </div>
                <div class="details">
                    <h2>Karthikeyan S
                        <span>JOINT SECRETARY
                        </span>
                    </h2>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="mailto:karthickarul254@gmail.com" class="fa fa-envelope"></a>
                </div>
            </div>
            <div class="excomCard col-sm-4">
                <div class="rot">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="-50 0 500 500">
                        <title>Visit Site Link</title>
                        <defs>
                            <path
                                d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250"
                                id="textcircle">
                                <animateTransform attributeName="transform" begin="0s" dur="30s" type="rotate"
                                    from="0 250 250" to="360 250 250" repeatCount="indefinite" />
                            </path>
                        </defs>
                        <use xlinkHref="#redstripe" transform="rotate(90 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(45 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(-45 250 250)" />
                        <text dy="60" textLength="1220">
                            <textPath xlink:href="#textcircle">EXECOM 2022 * EXECOM 2022 *</textPath>
                        </text>
                    </svg>
                </div>
                <div class="imgBx">
                    <img src="../../../assets/execom/2022/6.jpg" alt="images">
                </div>
                <div class="detail">
                    <h2>Prasanna Gnanambiga S
                    </h2>
                </div>
                <div class="details">
                    <h2>Prasanna Gnanambiga S
                        <span>TREASURER
                        </span>
                    </h2>
                    <a href="http://www.linkedin.com/in/prasanna-gnanaambiga-siva-sanker-08b78922a"
                        class="fa fa-linkedin"></a>
                    <a href="mailto:gnanambigap@gmail.com" class="fa fa-envelope"></a>
                </div>
            </div>
        </div>
        <div class="box row">
            <div class="excomCard col-sm-4">
                <div class="rot">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="-50 0 500 500">
                        <title>Visit Site Link</title>
                        <defs>
                            <path
                                d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250"
                                id="textcircle">
                                <animateTransform attributeName="transform" begin="0s" dur="30s" type="rotate"
                                    from="0 250 250" to="360 250 250" repeatCount="indefinite" />
                            </path>
                        </defs>
                        <use xlinkHref="#redstripe" transform="rotate(90 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(45 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(-45 250 250)" />
                        <text dy="60" textLength="1220">
                            <textPath xlink:href="#textcircle">EXECOM 2022 * EXECOM 2022 *</textPath>
                        </text>
                    </svg>
                </div>
                <div class="imgBx">
                    <img src="../../../assets/execom/2022/7.jpeg" alt="images">
                </div>
                <div class="detail">
                    <h2>Hema Apsara A
                    </h2>
                </div>
                <div class="details">
                    <h2>Hema Apsara A
                        <span>COMMITTEE MEMBER - 1
                        </span>
                    </h2>
                    <a href="https://www.linkedin.com/in/hema-apsara-a-25768520a" class="fa fa-linkedin"></a>
                    <a href="mailto:apsara9998@gmail.com" class="fa fa-envelope"></a>
                </div>
            </div>
            <div class="excomCard col-sm-4">
                <div class="rot">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="-50 0 500 500">
                        <title>Visit Site Link</title>
                        <defs>
                            <path
                                d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250"
                                id="textcircle">
                                <animateTransform attributeName="transform" begin="0s" dur="30s" type="rotate"
                                    from="0 250 250" to="360 250 250" repeatCount="indefinite" />
                            </path>
                        </defs>
                        <use xlinkHref="#redstripe" transform="rotate(90 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(45 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(-45 250 250)" />
                        <text dy="60" textLength="1220">
                            <textPath xlink:href="#textcircle">EXECOM 2022 * EXECOM 2022 *</textPath>
                        </text>
                    </svg>
                </div>
                <div class="imgBx">
                    <img src="../../../assets/execom/2022/8.jpg" alt="images">
                </div>
                <div class="detail">
                    <h2>Rajesh S
                    </h2>
                </div>
                <div class="details">
                    <h2>Rajesh S
                        <span>COMMITTEE MEMBER - 2
                        </span>
                    </h2>
                    <a href="https://www.linkedin.com/in/rajeshs2615" class="fa fa-linkedin"></a>
                    <a href="mailto:rajesh15@ieee.org" class="fa fa-envelope"></a>
                </div>
            </div>
        </div>
    </div>
</div>