<app-execom></app-execom>
<div class="body">
    <div class="ias">
        <div class="nine">
            <h1>Industrial Applications Society Office Bearers<span>Execom 2020</span></h1>
        </div>
        <div class="box row">
            <div class="excomCard col-sm-4">
                <div class="rot">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="-50 0 500 500">
                        <title>Visit Site Link</title>
                        <defs>
                            <path
                                d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250"
                                id="textcircle">
                                <animateTransform attributeName="transform" begin="0s" dur="30s" type="rotate"
                                    from="0 250 250" to="360 250 250" repeatCount="indefinite" />
                            </path>
                        </defs>
                        <use xlinkHref="#redstripe" transform="rotate(90 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(45 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(-45 250 250)" />
                        <text dy="60" textLength="1220">
                            <textPath xlink:href="#textcircle">Execom 2020 * Execom 2020 *</textPath>
                        </text>
                    </svg>
                </div>
                <div class="imgBx">
                    <img src="../../../assets/execom/2020/1.jpg" alt="images">
                </div>
                <div class="detail">
                    <h2>Dr.Jayarama Pradeep
                    </h2>
                </div>
                <div class="details">
                    <h2>Dr.Jayarama Pradeep
                        <span>ADVISOR
                        </span>
                    </h2>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-envelope"></a>
                </div>
            </div>
            <div class="excomCard col-sm-4">
                <div class="rot">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="-50 0 500 500">
                        <title>Visit Site Link</title>
                        <defs>
                            <path
                                d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250"
                                id="textcircle">
                                <animateTransform attributeName="transform" begin="0s" dur="30s" type="rotate"
                                    from="0 250 250" to="360 250 250" repeatCount="indefinite" />
                            </path>
                        </defs>
                        <use xlinkHref="#redstripe" transform="rotate(90 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(45 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(-45 250 250)" />
                        <text dy="60" textLength="1220">
                            <textPath xlink:href="#textcircle">Execom 2020 * Execom 2020 *</textPath>
                        </text>
                    </svg>
                </div>
                <div class="imgBx">
                    <img src="../../../assets/execom/2020/2.jpg" alt="images">
                </div>
                <div class="detail">
                    <h2>Yogesh S N
                    </h2>
                </div>
                <div class="details">
                    <h2>Yogesh S N
                        <span>CHAIR PERSON
                        </span>
                    </h2>
                    <a href="https://www.linkedin.com/in/yogesh-sn-2587891a5" class="fa fa-linkedin"></a>
                    <a href="mailto:yogeshsn@ieee.org" class="fa fa-envelope"></a>
                </div>
            </div>
            <div class="excomCard col-sm-4">
                <div class="rot">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="-50 0 500 500">
                        <title>Visit Site Link</title>
                        <defs>
                            <path
                                d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250"
                                id="textcircle">
                                <animateTransform attributeName="transform" begin="0s" dur="30s" type="rotate"
                                    from="0 250 250" to="360 250 250" repeatCount="indefinite" />
                            </path>
                        </defs>
                        <use xlinkHref="#redstripe" transform="rotate(90 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(45 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(-45 250 250)" />
                        <text dy="60" textLength="1220">
                            <textPath xlink:href="#textcircle">Execom 2020 * Execom 2020 *</textPath>
                        </text>
                    </svg>
                </div>
                <div class="imgBx">
                    <img src="../../../assets/execom/2020/3.jpg" alt="images">
                </div>
                <div class="detail">
                    <h2>Krishaa P R
                    </h2>
                </div>
                <div class="details">
                    <h2>Krishaa P R
                        <span>VICE CHAIR
                        </span>
                    </h2>
                    <a href="https://www.linkedin.com/in/krishaa-p-r-76bb221b0" class="fa fa-linkedin"></a>
                    <a href="mailto:krishkrish12@ieee.org" class="fa fa-envelope"></a>
                </div>
            </div>
        </div>
        <div class="box row">
            <div class="excomCard col-sm-4">
                <div class="rot">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="-50 0 500 500">
                        <title>Visit Site Link</title>
                        <defs>
                            <path
                                d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250"
                                id="textcircle">
                                <animateTransform attributeName="transform" begin="0s" dur="30s" type="rotate"
                                    from="0 250 250" to="360 250 250" repeatCount="indefinite" />
                            </path>
                        </defs>
                        <use xlinkHref="#redstripe" transform="rotate(90 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(45 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(-45 250 250)" />
                        <text dy="60" textLength="1220">
                            <textPath xlink:href="#textcircle">Execom 2020 * Execom 2020 *</textPath>
                        </text>
                    </svg>
                </div>
                <div class="imgBx">
                    <img src="../../../assets/execom/2020/4.jpg" alt="images">
                </div>
                <div class="detail">
                    <h2>Hariharan P
                    </h2>
                </div>
                <div class="details">
                    <h2>Hariharan P
                        <span>SECRETARY
                        </span>
                    </h2>
                    <a href="https://www.linkedin.com/mwlite/in/hariharan-prabakaran-3247b01a5" class="fa fa-linkedin"></a>
                    <a href="mailto:hariharan0300@gmail.com" class="fa fa-envelope"></a>
                </div>
            </div>
            <div class="excomCard col-sm-4">
                <div class="rot">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="-50 0 500 500">
                        <title>Visit Site Link</title>
                        <defs>
                            <path
                                d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250"
                                id="textcircle">
                                <animateTransform attributeName="transform" begin="0s" dur="30s" type="rotate"
                                    from="0 250 250" to="360 250 250" repeatCount="indefinite" />
                            </path>
                        </defs>
                        <use xlinkHref="#redstripe" transform="rotate(90 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(45 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(-45 250 250)" />
                        <text dy="60" textLength="1220">
                            <textPath xlink:href="#textcircle">Execom 2020 * Execom 2020 *</textPath>
                        </text>
                    </svg>
                </div>
                <div class="imgBx">
                    <img src="../../../assets/execom/2020/5.jpg" alt="images">
                </div>
                <div class="detail">
                    <h2>Arvind G K
                    </h2>
                </div>
                <div class="details">
                    <h2>Arvind G K
                        <span>JOINT SECRETARY
                        </span>
                    </h2>
                    <a href="https://www.linkedin.com/in/arvind-megesh-5827921a5" class="fa fa-linkedin"></a>
                    <a href="mailto:gktronicals@ieee.org" class="fa fa-envelope"></a>
                </div>
            </div>
            <div class="excomCard col-sm-4">
                <div class="rot">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="-50 0 500 500">
                        <title>Visit Site Link</title>
                        <defs>
                            <path
                                d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250"
                                id="textcircle">
                                <animateTransform attributeName="transform" begin="0s" dur="30s" type="rotate"
                                    from="0 250 250" to="360 250 250" repeatCount="indefinite" />
                            </path>
                        </defs>
                        <use xlinkHref="#redstripe" transform="rotate(90 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(45 250 250)" />
                        <use xlinkHref="#redstripe" transform="rotate(-45 250 250)" />
                        <text dy="60" textLength="1220">
                            <textPath xlink:href="#textcircle">Execom 2020 * Execom 2020 *</textPath>
                        </text>
                    </svg>
                </div>
                <div class="imgBx">
                    <img src="../../../assets/execom/2020/6.jpg" alt="images">
                </div>
                <div class="detail">
                    <h2>Purnima Mangalya T
                    </h2>
                </div>
                <div class="details">
                    <h2>Purnima Mangalya T
                        <span>TREASURER
                        </span>
                    </h2>
                    <a href="http://linkedin.com/in/purnima-thamilselvan-56078b1a5%20"
                        class="fa fa-linkedin"></a>
                    <a href="mailto:purnimamangalya@ieee.com" class="fa fa-envelope"></a>
                </div>
            </div>
        </div>
    </div>
</div>