<app-execom></app-execom>
<div className="ias">
    <div class="nine">
      <h1>INDUSTRIAL APPLICATION SOCIETY OFFICE BEARERS<span>Execom 2018</span></h1>
    </div>
    <table>
      <tr>
        <th>NAME OF STUDENT</th>
        <th>POST ASSIGNED</th>
      </tr>
      <tr>
        <td>Srinidhi.R</td>
        <td>CHAIRMAN</td>
      </tr>
      <tr>
        <td>SRIRAM SOORYA</td>
        <td>VICE-CHAIRMAN</td>
      </tr>
      <tr>
        <td>Sowmiya M</td>
        <td>SECRETARY</td>
      </tr>
      <tr>
        <td>YOGESHWARAN</td>
        <td>TREASURER</td>
      </tr>
      <tr>
        <td>VIDHYADARAN</td>
        <td>JOINT SECRETARY</td>
      </tr>
    </table>
    </div>