<div class="execom">
    <div class="waviy">
        <span style="--i:1">E</span>
        <span style="--i:2">X</span>
        <span style="--i:3">E</span>
        <span style="--i:4">C</span>
        <span style="--i:5">O</span>
        <span style="--i:6">M</span>
       
       </div>
    <div class="exnav teal borderYtoX">  
        
        <a routerLink="/execom22">2022</a>
        <a routerLink="/execom21">2021</a>
        <a routerLink="/execom20">2020</a>
        <a routerLink="/execom19">2019</a>
        <a routerLink="/execom18">2018</a>
        <a routerLink="/execom17">2017</a>
        <a routerLink="/execom16">2016</a>
        <a routerLink="/execom15">2015</a>

    </div>
</div>

